﻿@-webkit-keyframes slidein {
   0%{
      top: -20px;
      opacity: 0;
      color: #602f6e
   }
   100% {
      top: 0;
      opacity: 1;
      color: #602f6e
   }
}

@-moz-keyframes slidein {
   0%{
      top: -20px;
      opacity: 0;
      color: #602f6e
   }
   100% {
      top: 0;
      opacity: 1;
      color: #602f6e
   }
}

@-ms-keyframes slidein {
	0%{
      top: -20px;
      opacity: 0;
      color: #602f6e
   }
   100% {
      top: 0;
      opacity: 1;
      color: #602f6e
   }
}

@-o-keyframes slidein {
	0%{
      top: -20px;
      opacity: 0;
      color: #602f6e
   }
   100% {
      top: 0;
      opacity: 1;
      color: #602f6e
	  ;
   }
}
span.countdown-time {width: 160px;
height: 12px;
position: absolute;
top: 0px;
right: 0;
padding: 14px;
color:#602f6e !important;}
span.countdown-time span{
	position: absolute;
	left: 10px;
	opacity: 0;
	color:#602f6e !important;display:inline;
}

.s1, .s2, .s3, .s4, .s5, .s6{margin-top: 10px; }

.s1{
	-webkit-animation-name: slidein;
  -webkit-animation-duration: 250ms;
  -webkit-animation-delay: 0.5s;
  -moz-animation-name: slidein;
  -moz-animation-duration: 250ms;
  -moz-animation-delay: 0.5s;
  -ms-animation-name: slidein;
  -ms-animation-duration: 250ms;
  -ms-animation-delay: 0.5s;
  -o-animation-name: slidein;
  -o-animation-duration: 250ms;
  -o-animation-delay: 0.5s;
  animation-name: slidein;
  animation-duration: 250ms;
  animation-delay: 0.5s;

	-webkit-transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-ms-transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

.s2{
	-webkit-animation-name: slidein;
  -webkit-animation-duration: 250ms;
  -webkit-animation-delay: 0.75s;
  -moz-animation-name: slidein;
  -moz-animation-duration: 250ms;
  -moz-animation-delay: 0.75s;
  -ms-animation-name: slidein;
  -ms-animation-duration: 250ms;
  -ms-animation-delay: 0.75s;
  -o-animation-name: slidein;
  -o-animation-duration: 250ms;
  -o-animation-delay: 0.75s;
  animation-name: slidein;
  animation-duration: 250ms;
  animation-delay: 0.75s;

	-webkit-transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-ms-transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

.s3{
	-webkit-animation-name: slidein;
  -webkit-animation-duration: 350ms;
  -webkit-animation-delay: 1s;
  -moz-animation-name: slidein;
  -moz-animation-duration: 350ms;
  -moz-animation-delay: 1s;
  -ms-animation-name: slidein;
  -ms-animation-duration: 350ms;
  -ms-animation-delay: 1s;
  -o-animation-name: slidein;
  -o-animation-duration: 350ms;
  -o-animation-delay: 1s;
  animation-name: slidein;
  animation-duration: 350ms;
  animation-delay: 1s;

	-webkit-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-ms-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

.s4{
	-webkit-animation-name: slidein;
  -webkit-animation-duration: 350ms;
  -webkit-animation-delay: 1.35s;
  -moz-animation-name: slidein;
  -moz-animation-duration: 350ms;
  -moz-animation-delay:  1.35s;
  -ms-animation-name: slidein;
  -ms-animation-duration: 350ms;
  -ms-animation-delay:  1.35s;
  -o-animation-name: slidein;
  -o-animation-duration: 350ms;
  -o-animation-delay:  1.35s;
  animation-name: slidein;
  animation-duration: 350ms;
  animation-delay:  1.35s;

	-webkit-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-ms-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

.s5{
	-webkit-animation-name: slidein;
  -webkit-animation-duration: 500ms;
  -webkit-animation-delay: 1.7s;
  -moz-animation-name: slidein;
  -moz-animation-duration: 500ms;
  -moz-animation-delay: 1.7s;
  -ms-animation-name: slidein;
  -ms-animation-duration: 500ms;
  -ms-animation-delay: 1.7s;
  -o-animation-name: slidein;
  -o-animation-duration: 500ms;
  -o-animation-delay: 1.7s;
  animation-name: slidein;
  animation-duration: 500ms;
  animation-delay: 1.7s;

	-webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-ms-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

.s6{
margin-top: 10px;
	-webkit-animation-name: slidein;
  -webkit-animation-duration: 500ms;
  -webkit-animation-delay: 2.2s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-name: slidein;
  -moz-animation-duration: 500ms;
  -moz-animation-delay: 2.2s;
  -moz-animation-fill-mode:forwards;
  -ms-animation-name: slidein;
  -ms-animation-duration: 500ms;
  -ms-animation-delay: 2.2s;
  -ms-animation-fill-mode:forwards;
  -o-animation-name: slidein;
  -o-animation-duration: 500ms;
  -o-animation-delay: 2.2s;
  -o-animation-fill-mode:forwards;
  animation-name: slidein;
  animation-duration: 500ms;
  animation-delay: 2.2s;
  animation-fill-mode:forwards;

	-webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-ms-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}