﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="StyleDeclarations.ascx.cs" Inherits="App_WebControls_StyleDeclarations_StyleDeclarations" %>


	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    
    <link href="<%=Page.ResolveClientUrl("~/Css/global.css") %>" rel="Stylesheet" type="text/css" />

     <link href="<%=Page.ResolveClientUrl("~/App_Css/fontFace/stylesheet.css") %>" rel="Stylesheet" type="text/css" />