﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EventInfo_Advert.ascx.cs"
    Inherits="App_WebControls_HomePageRows_TestControl1" %>
<!--<div class="box twoThirds row1 mapBackground">
    <h2 class="box-title-white">
        Event Information / Interactive Map</h2>
    <div class="box-content" style="min-height: 213px;">
        <p>
            British Gas Great East Swim<br />
            <br />
            British Gas Great London Swim<br />
            <br />
            British Gas Great Scottish Swim<br />
            <br />
            British Gas Great North Swim<br />
            <br />
            British Gas Great Salford Swim<br />
            <br />
        </p>
        <div class="clearer">
        </div>
    </div>
</div>-->
<script language="javascript">    AC_FL_RunContent = 0;</script>

    <script src="AC_RunActiveContent.js" language="javascript"></script>

<!--url's used in the movie-->
<!--text used in the movie-->
<!-- saved from url=(0013)about:internet -->
    <div class="box twoThirds">
        <h2 class="box-title">Event Locations</h2>
        <script language="javascript">
	            if (AC_FL_RunContent == 0) {
		            alert("This page requires AC_RunActiveContent.js.");
	            } else {
		            AC_FL_RunContent(
			            'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0',
			            'width', '640',
			            'height', '236',
			            'src', 'map',
			            'quality', 'high',
			            'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
			            'align', 'middle',
			            'play', 'true',
			            'loop', 'true',
			            'scale', 'showall',
			            'wmode', 'window',
			            'devicefont', 'false',
			            'id', 'events',
			            'bgcolor', '#ffffff',
			            'name', 'events',
			            'menu', 'true',
			            'allowFullScreen', 'false',
			            'allowScriptAccess','sameDomain',
			            'movie', 'map',
			            'salign', ''
			            ); //end AC code
	            }
</script>
<noscript>
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0"
        width="640" height="236" id="events" align="middle">
        <param name="allowScriptAccess" value="sameDomain" />
        <param name="allowFullScreen" value="false" />
        <param name="movie" value="map.swf" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <embed src="map.swf" quality="high" bgcolor="#ffffff" width="640" height="236"
            name="events" align="middle" allowscriptaccess="sameDomain" allowfullscreen="false"
            type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
    </object>
</noscript>
    </div>



<div class="box oneThirds row1 advertisements">
    <div class="box-content">

<script language="javascript">
	            if (AC_FL_RunContent == 0) {
		            alert("This page requires AC_RunActiveContent.js.");
	            } else {
		            AC_FL_RunContent(
			            'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0',
			            'width', '300',
			            'height', '250',
			            'src', 'open_all_mpu 2',
			            'quality', 'high',
			            'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
			            'align', 'middle',
			            'play', 'true',
			            'loop', 'true',
			            'scale', 'showall',
			            'wmode', 'window',
			            'devicefont', 'false',
			            'id', 'events',
			            'bgcolor', '#ffffff',
			            'name', 'events',
			            'menu', 'true',
			            'allowFullScreen', 'false',
			            'allowScriptAccess','sameDomain',
			            'movie', 'open_all_mpu 2',
			            'salign', ''
			            ); //end AC code
	            }
</script>
<noscript>
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0"
        width="300" height="250" id="events" align="middle">
        <param name="allowScriptAccess" value="sameDomain" />
        <param name="allowFullScreen" value="false" />
        <param name="movie" value="open_all_mpu 2.swf" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <embed src="open_all_mpu 2.swf" quality="high" bgcolor="#ffffff" width="300" height="250"
            name="events" align="middle" allowscriptaccess="sameDomain" allowfullscreen="false"
            type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
    </object>
</noscript>


       <!-- <script type="text/javascript" src="http://banner.greatrun.org/Banner.aspx?b=12-44"></script>-->

        <p style="font-size: 0.65em; text-align: center; margin: 0;">
            advertisement</p>
        <div class="clearer">
        </div>
    </div>
</div>
<div class="clearer">
</div>
