﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HomePageRowHolder.ascx.cs" Inherits="App_WebControls_HomePageRows_HomePageRowHolder" %>
<asp:Panel ID="Panel1" runat="server">

</asp:Panel>
