﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Global.master" AutoEventWireup="true" CodeFile="Preview.aspx.cs" Inherits="Admin_Homepage_Preview" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HomePageSlideshow" Runat="Server">
<gs:HomePageSlider Id="contentTest" runat="server" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
	    <div style="position:fixed;  background-color:#89a7c1;padding:10px 0; bottom:0px;left:0; width:100%; text-align:right;">
    <input type="button" ID="Button2" Value="Back" onclick="javascript: history.go(-1)" style="margin-right:20px;margin-top:0;" />
    </div>
	
	<asp:Panel ID="Panel1" runat="server">
	</asp:Panel>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="secondaryContentHolder" Runat="Server">
</asp:Content>
