﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TimedRedirector.ascx.cs" Inherits="App_WebControls_TimedRedirectior_TimedRedirector" %>
<asp:Literal runat="server" ID="textLiteral"></asp:Literal>
<asp:Literal runat="server" ID="scriptLiteral" />
	
