﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/AdminMasterPage.master" AutoEventWireup="true"
	CodeFile="UseImage.aspx.cs" Inherits="Admin_NewsArticles_Images_UseImage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
	<div class="content-box">
		<div class="content-box-header">
			<h3>
				View Image</h3>
		</div>
		<div class="content-box-content">
		</div>
	</div>
</asp:Content>