﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BlogTagPanel.ascx.cs" Inherits="App_WebControls_Blog_BlogTagPanel" %>
<asp:Literal ID="LiteralTags" runat="server"></asp:Literal>
<div class="clearer"></div>   
