﻿body {
	font-family: Tahoma, Verdana, Arial;
	font-size: 0.70em;
}

body, form, html { padding: 0; margin: 0; }

td, th { 
	border-collapse: collapse;
	padding: 4px;
	text-align: left;
}


a { color: #20687d; font-weight: bold; }

.hidden { display:none; }
.visible {  display:table-row; }

.clear { clear: both; }

.pin {
	background: #f5f5f5;
	border: 1px solid #dddddd;
	padding: 1px 5px;
	margin: 1px;
	font-style: italic;
	color: #555555;
}

h2 {
	margin: 15px 0 20px 0;
	/* background-color: #308198;
	text-align: center;
	color: White;
	padding: 2px; */
	
	text-align: left;
	/* background: #b0d6e1; */
	padding: 1px 0px;
	color: #003f52;
	font-variant: small-caps;
	border-bottom: 2px solid #308198;
	
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
	margin: 15px 0 20px 0;
	padding: 0px;
	color: #003f52;
	border-bottom: 1px solid #308198;
}

h4 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 12px 0 8px 0;
	padding:0;
}

/****** Forms ******/

select { font-size: 1.0em; }

.text {	
	width: 100%;
}

textarea {
	width: 100%;
}

textarea, .text {
	font-size: 1.0em;
	font-family: Tahoma, Verdana, Arial; 
}

textarea, .text, select { 	border-top: 1px solid #abadb3; 
	border-left: 1px solid #e2e3ea;
	border-right: 1px solid #dbdfe6; 
	border-bottom: 1px solid #e3e9ef;
}

.button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.9em;
	line-height:normal;
}

/****** News Status Colours ******/

span.status-draft { color: #ffae57; }
span.status-live { color: #8f8f8f; }
span.status-new { color: #ff0000; }

/****** Error Messages Colours ******/

p.info { 
	background-color: #fff8db;
	border: 1px solid #ffd93f;
	padding: 5px;
	text-align: center;
}

p.error { color: red; }
p.warning { color: Orange; }
p.success { color: Green; }
p.question { color: Blue; }
p.notice { color: Maroon; }

/****** List Table Style ******/

.item-list th {
	padding: 8px 4px;
	background-color: #308198;
	color: white;
	text-align: left;
}

.item-list {
	width: 100%;
}

tr.alt-row {
	background: #eeeeee;
}

tr.std-row {
	
}

tr.alt-row th, tr.std-row th { 
	padding: 0; 
	color: Black; 
	text-align: center;
}

tr.alt-row th { 
	background: #bad6de; 
}

tr.std-row th { 
	background: #e1f8fe; 
}

/****** Pager Style ******/

div.pager {
	margin: 10px 0 10px 0;
}

a.current-page-link {
	font-weight: normal;
	color: #74878c;
	text-decoration: none;
}

a.page-link {
	text-decoration: none;
}

a.next-prev-link {
	text-decoration: none;
}

a.page-link:hover, a.next-prev-link:hover {
	text-decoration: underline;
}

a.next-prev-disabled { color: #aaaaaa; }
a.next-prev-disabled:hover { text-decoration: none; }

/******* Redirection ************/

.redirection {
	border: 2px solid #74878c;
	text-align: center;
	padding: 10px;
	margin: 10px;
}

/******* News creation *********/

ul.tool {
	list-style-type: none;
	padding-left: 10px;
	margin: 0;
	font-family: Courier New;
	font-size: 1.1em;
}

td.toolbox {
	padding: 0 0 0 15px;
}

#resultPanel {
	border: 1px solid #888888;
	background: #eeeeee;
}

.code {
	font-family:Courier New, Courier;
}

/****** Comments **********/

div.comment {
	border: 1px solid #aaaaaa;
	background-color: #eeeeee;
	padding: 10px;
	margin: 5px 0;
}

div.comment-info {
	font-weight: bold;
	font-style: italic;
}

div.comment-info table td {
	padding: 0;
	margin: 0;
}

div.comment p {
	margin : 8px 0 0 0;
}

div.comment-hidden {
	border-color: #dddddd;
	color: #888888;
	background-color: #f8f8f8;
}

div.comment-censored {
	border-color: red;
	background-color: #ffc7c7;
}

div.comment-live {
	border-color: #aaaaaa;
}

div.comment-new {
	border-color: Green;
	background-color: #d1ffd2;
}

/******* Main Navigation ******/

#navbar ul a {
	display: block;
	padding: 5px 20px;
	margin: 0 5px 0 5px;
	float: left;
	background: #308198;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	border: 1px solid #1b4e5d;
	border-bottom: none;
}

#navbar a.active:hover {
	background-color: #b0d6e1;
}

#navbar ul a:hover {
	background-color: #7db4c4;
}

#navbar {
	background: #eeeeee;
	border-bottom: 2px solid black;
	padding-top: 25px;
	padding-bottom: 0;
	margin : 0;
	margin-bottom: 25px;
}

#navbar ul {
	margin: 0;
	list-style-type: none;
}

#navbar li {
	float: left;
}

#navbar a.active {
	border: 1px solid #308198;
	background: #b0d6e1;
	border-bottom: none;
}

/****** Main Content *******/

#content {
	padding: 0 20px;
}
