﻿.displaybox { 
    background: none repeat scroll 0 0 #481558;
    display: none;
    font-size: 1em;
    min-height: 260px;
    overflow: hidden;
    width: 900px;
    padding:20px !important;}

	
	
