@charset "utf-8";
/* CSS Document */
.contentContainer{background: url(../images/bg-gradient.jpg) repeat-x #dbdbdb;}

.line-break{height:1px; background:#5491c6; margin:22px 0 22px 0;}

#r-search{background: url(../images/results-gradient.jpg) repeat-x #370446; padding:20px 23px 15px 23px; ; font-size:12px;}

#r-search .event-select{float:right; margin:0;}
#r-search .event-select label{font-size:12px; }
#r-search .event-select a{float:right; padding:0 14px 0 0;}
#r-search .event-select select{width:320px; padding:5px; background:#fff; color:#555; border:none; }
#r-search .event-select select:focus{border:none;}

#r-search p{color:#fff;}
#r-search p a{float:none; display:inline}
#r-search h1{ color:#fff; font-size:25px; margin:0 0 2px 0; /*border-bottom:1px solid #5491c6;*/ padding:0 0 12px 0;}
/*#r-search span{float:left;color:#fff;  margin:0 8px 0 0;}*/
#r-search label{ color:#fff; margin:0 8px 0 0; padding:3px 0 0 0; width:80px; float:left; text-align:right;}
#ctl00_HomePageSlideshow_Gender label {float:left;color:#fff;  margin:0 8px 0 0; padding:0px; width:auto; text-align:left;}
#r-search select{border:none; color:#555; margin:3px 16px 3px 0; width:160px; padding:2px; border:3px solid #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; float:left;}
#r-search select:focus{border:3px solid #89adcf;}
#r-search input[type="text"]{float:left; margin:3px 16px 3px 0; border:none; width:150px; padding:2px; border:3px solid #fff; color:#555; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#r-search input[type="text"]:focus{border:3px solid #89adcf;}

#r-search input[type="submit"]{ background:#fff; padding:4px 25px 4px 25px;  float:left;color:#000000; border:none; border:1px solid #ccc; margin:0 8px 0px 0; 
/*border:1px solid #0099CC;*/  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor:pointer;}
#r-search input[type="radio"]{float:left; }

#r-search a{font-size:10px; color:#fff; display:block;}

#r-search fieldset{padding:12px 8px 0px 8px; 
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin:8px 0 0px 0;}
#r-search legend{color:#fff; font-weight:bold;margin:0 0 0 22px; padding:0px 5px 0px 5px;}

.advanced-submit{margin:0 0 0 0px; display:block;   padding: 0px 0px 10px 580px;}

.results-table-h2{margin: 0px; text-transform:none; font-weight:lighter; background:#1967ab; color:#fff; padding:8px;}

.results-table{border: none; text-align:left; font-size:11px; color:#555; width:100%;}
.results-table .head{background:#ccc; border:1px solid #efefef; color:#333;  }
.results-table tr{ border-bottom:1px solid #ddd;}
.results-table tr td.athlete-name{text-transform:uppercase;}
.results-table th, .results-table td{ padding:8px; width:100px; }

.side-tables td, .side-tables th{padding:6px 3px}

.results-table .alt-row{background:#f2f2f2;}
.results-table .selected{background:#613074; color:#fff;}
.error-text {color: #663; background: #CFC; padding:7px 10px 7px 10px; -moz-border-radius:3px; -webkit-border-radius:3px; border:1px solid #CF9;}

#main-search{padding:0px 0 0px 0;}
#main-search input[type="text"]{padding:5px; width:250px;}
#main-search select{padding:4px; width:366px; height: 36px;}
#main-search span{padding:5px 0 0 10px; float:left;color:#fff;  margin:0 8px 0 0;}
#main-search input[type="submit"]{padding:7px 22px 7px 22px; margin:3px 0 3px 0; float:left;color:#000000; border:none; border:1px solid #ccc;}
#main-search h1{border:none; text-transform:capitalize; float:left; padding:3px 35px 0 0;}
#main-search a{float:right; padding: 20px 8px 0 0px;}

#advanced-search{border-bottom:1px solid #7f4794; padding:0 0 16px 0;}
#advanced-search h1{width:300px; float:left; border-bottom:none; border-left:none;}
#advanced-search .event-select select{margin:0 0 8px 0;}

#full-search select{width:290px; margin: 3px 16px 3px 0; }
#full-search h1{width:80px; float:left;}
#full-search span{margin:5px 8px 0 0;}



.box .quick-search{font-size:12px; background:none;}
.quick-search input[type="text"]{border:none; padding:5px; border:1px solid #ccc; width:185px;}

.quick-search input[type="submit"], .compare-partners input[type="submit"], .compare-partners input[type="button"]{ padding:4px 25px 4px 25px; background: url(../images/button.jpg); color:#fff; margin:0 8px 0 0; /*border:1px solid #0099CC;*/  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor:pointer;color:#000;}

.box .compare-partners{padding:0 8px 8px 8px; background:none;}
.compare-partners p{border:1px solid #ddd; background: url(../images/remove.png) no-repeat 267px 17px #fff;  padding:8px; cursor:pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.compare-partners p:hover{background: url(../images/remove-over.png) no-repeat 267px 17px #fff;}

 .pagination input[type="submit"], .pagination input[type="button"]{font-size:10px;padding:4px 25px 4px 25px;  margin:0 8px 0 0; border:1px solid #ddd;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor:pointer;}
 .pagination input[type="text"]{font-size:10px;width:190px; padding:4px; border:1px solid #ddd;}
.pagination{font-size:10px; top:auto;}


/*.compare-partners{min-height:270px; background: url(../images/addPartners.png) no-repeat; }*/
.compare-box { min-height:222px;}
.compare-box p em {font-size:10px; color:#064884;}

.compare-bg{min-height:270px; background: url(../images/addPartners.png) no-repeat; }


.compare-btn{color:#148700; text-decoration:none;background: url(../images/add.png) no-repeat 0px 14px; padding:5px 3px 3px 25px; float:right;font-size:0.5em;}
.compare-btn:hover{color:#148700; text-decoration:underline;}


#stats{background: url(../images/results-gradient.jpg) repeat-x #622877; color:#fff; padding:30px 35px 30px 35px; border-top:1px solid #7f4794; }
.stat-third{padding:0 20px 0 20px; float:left; width:155px;}
.stat-third h1{font-size:22px;  color:#fff !important; border-bottom:0px !important;}
.stat-third h2{border-left:none; font-size:45px; line-height:55px; color:#fff !important; font-weight:lighter;}
.stat-third span{font-size:13px; color:#efc1ff; font-weight:bolder;  }
.stat-third h2 sup{font-size:30px; line-height:25px; color:#fff; text-transform:lowercase; vertical-align:top; font-weight:lighter;}
.stat-third h2 span{font-size:16px;}
#stats .name{ border-right:2px solid #7f4794; width: 330px;}
#stats .position{ border-right:2px solid #7f4794; display:none;}
#stats .time{ border-right:2px solid #7f4794;width:175px;}
#stats .speed{width:200px;position:relative;}


.oneThirds{min-height:50px;margin-bottom:20px;}

#content table tr td{font-size:1.0em !important;}
.right-col img{margin:0;}



#split-times-container{background: #380547;padding:8px 8px 8px 8px; }
	#split-times{ display:block; height:16px; color:#fff; padding: 11px 5px 13px 10px; background:#613074; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
	#split-times h3{line-height: 18px;color:#fff; text-transform:capitalize; font-size:16px; width:90px; float:left; padding:0 8px 0 16px; margin:0; border-right:1px solid #7f4794;  /*color:#222d69;*/}
	#split-times span{font-size:12px; float:left; text-transform:none; margin:0 8px 0 16px; color:#efc1ff;}
	#split-times span b{color:#fff;}
	#split-times a{float:right; font-size:12px; color:#fff; padding:4px 8px 4px 8px; margin:-7px 0px 0 8px; background: #502362; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-decoration:none;}
	#split-times a:hover{text-decoration:underline;}
	#split-times img{float:left; margin:0 4px 0 0;}
	#split-times a p{margin:0; padding:0; float:left; color:#fff; font-size:12px; padding:4px 2px 0 2px;}
	
	.time p{font-size:10px; color:#fff; margin:0;}
	
	#speed{position:absolute; top:0; right:0;}
	#graph{float:left; background: url(../images/icon-up.png); width:75px; height:75px; margin-top: 30px;}
	#graph:hover{background: url(../images/icon-over.png);}
	
	#ctl00_breadcrumbPlaceholder_Gender label{width:auto;}
	.base{width:900px;}