﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EntryStatusNav.ascx.cs" Inherits="App_WebControls_SubNavigation_EntryStatusNav" %>
<%--<a href="#" class="btn btn-primary btn-large" style="background:#fff; color:#222;">Enter Now &raquo;</a>--%>
<asp:HyperLink ID="HlEntryStatus" CssClass="btn btn-primary btn-large" BackColor="#ffffff" ForeColor="#222222"  runat="server" />