﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TheEventSubNav.ascx.cs" Inherits="App_WebControls_SubNavigation_TheEventSubNav" %>
    <ul id="sub-nav">
		<li><a href="/TheEvent/Default.aspx"><span>About the Event</span></a></li>
		<!--<li><a href="/TheEvent/EventsTimetable.aspx"><span>Event Timetable</span></a></li>-->
		<li><a href="/TheEvent/CourseMap.aspx"><span>Course Map</span></a></li>
		<!--<li><a href="/TheEvent/Traffic-Travel.aspx"><span>Traffic & Travel</span></a></li>
		<li><a href="/TheEvent/EssentialInfo.aspx"><span>Essential Info</span></a></li>
		<li><a href="/TheEvent/GettingThere.aspx"><span>Getting There</span></a></li>
		<li><a href="/TheEvent/AtTheStart.aspx"><span>At The Start</span></a></li>
		<li><a href="/TheEvent/OnTheCourse.aspx"><span>On The Course</span></a></li>
		<li><a href="/TheEvent/AtTheFinish.aspx"><span>At The Finish</span></a></li>-->
	</ul>
<div class="clearer"></div>